.cardBg {
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}

img {
  position: relative;
  left: -556px;
  top: 0px;
  max-width: 830px;
  max-height: 605px;
  padding: 0px;
  margin: 0px;
}
